button {
    border:1px solid grey;
}


.grid {
    width:90%;
}

.grid .gridcell {
    width: 30%;
    margin-left:20px;
    margin-right:20px;
    display:inline;
}

.grid .gridcell img {
    width:90%;
}